<div class="account_view">
  <h2 class="title">アカウント詳細</h2>
    <table>
      <tr>
        <th>名前</th>
        <td><%= @user.username %></td>
      </tr>

      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>

    <div class="link">
      <%= link_to "ブックマーク一覧",  bookmarks_user_path,class:"bookmark_list"  %>
      <br>
      <%= link_to "編集" , edit_user_path(@user) , class:"edit_account" %>
   </div>
</div>
