<div class="about-main">
  <h2 class="about-title">カルテメモアプリとは</h2>
  <div class="purpose">
    <p>紙カルテに記入する時間、</p>
    <p>電話をいただいた際紙カルテを探す手間を省くため、</p>
    <p>１クリックで職種関係なく情報共有できるよう</p>
    <p>仕事の効率化と診察記録を残すアプリです。</p>
    <p>簡単に患者名入れるだけで検索ができます。</p>
  </div>

  <div class="recommendation">
    <h2 class="none">オススメの使い方</h2>
    <p>朝一ログインした状態にしておく</p>
    <p>予約時注意が必要な患者はbookmarkしておくと<br>
    一覧で閲覧できるようになっているため便利です。</p>
  </div>

  <div class="form-home">
    <p><%= link_to "ホームへ戻る", root_path %></p>
  </div>
</div>
