<div class="about-main">
  <h2 class="about-title">カルテメモアプリとは</h2>
  <div class="purpose">
    <p>紙カルテに記入する時間、</p>
    <p>電話をいただいた際紙カルテを探す手間を省くため、</p>
    <p>１クリックで職種関係なく情報共有できるよう</p>
    <p>仕事の効率化と診察記録を残すアプリです。</p>
  </div>

  <div class="recommendation">
    <h2 class="none">オススメの使い方</h2>
    <p>朝一ログインした状態にしておくこと</p>
    <p><%= link_to "ホームへ戻る", root_path, class:"submit_home" %></p>
  </div>
</div>
